.tab-right {
  float:right;
  height:40px;
}
.tab-right ul{
  display:block;
}
.tab-right ul li{
  float:left;
  padding: 0px 10px 0px !important;
}
.tab-right ul li a{
  padding: 0px 10px 0px !important;
}


.margin-left{
  margin-left: 490px;
  margin-right: 460px;
  margin-top: 29px;
 
}
.button-size{
  width: 126px;
}
.textbox-size{
  padding:12px !important;
}


.center{
  padding: 15px 10px 0px !important;
}

